{% extends 'base.html' %}

  {% block content %}
  <div>
    <h2>Please <u>do not press the back button at any time</u> during this study.</h2>
    <br>
    <h3>Overview:</h3>
    <h4>During this study you will be faced with a set of mazes of varying difficulty and paired with a robot of varying capability. At any time you may choose how the robot is
    controlled: you can drive the robot, or let the robot automatically drive to the finish. You will have to watch out for dangers in the
    maze. Your view of the mazes, and control you have of the robot will be limited, so you must work together with your
    new robot partner to complete each maze.</h4>
  </div>
  <div>
    <h3>You will be presented with a display to help navigate the maze:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/control_panel.png" alt="" />
    </div>
    <br><br>

    <h3>At any time during the maze, take control the robot yourself by clicking Manual Control. Use the Up, Left, Right, and Down buttons to drive:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/manual_control.gif" alt="" />
    </div>

    <br><br>
    <h3>At any time during the maze, have the robot drive itself to the finish (to the best of it's ability) by selecting Automatic Control. You can end Automatic
      Control at any time by pressing the Manual Control button:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/automatic_control.gif" alt="" />
    </div>

    <br><br>
    <h3>There will be glass like debris in the maze. If the robot is driving in Automatic Control and it drives over this debris, it could move randomly in any direction:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/glass.gif" alt="" />
    </div>

    <br><br>
    <h3>But watch out! If the robot falls in a hole you will fail the maze:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/holes.gif" alt="" />
    </div>

    <br><br>
    <h3>If you don't think you can complete the maze you can abort it:</h3>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/abort.gif" alt="" />
    </div>

    <br><br>
    <h3>Scoring</h3>
    <h4>You will receive a score based on how well you and the robot perform on each maze. At the end of the HIT you will be
    paid a bonus of up to $0.60 based on your final score and the effort you put into the experiment. Each maze is worth
    5 bonus points. <u>Your goal should be to maximize points based on the below scoring breakdown:</u></h4>
    <ul>
      <li><b>Fail maze (robot falls in a hole):</b> -5 points</li>
      <li><b>Abort maze (press abort button):</b> -3 points</li>
      <li><b>Drive in Manual Control:</b> -0.1 points per manual step</li>
    </ul>

  </div>
  <br><br>
  <h3>The first maze will be practice</h3>
  {% if g.user %}
    <div id="button">
    <a class="action" href="{{ url_for('gridworld_app.playgame') }}" >Start the first maze</a>
    </div>
  {% endif %}

  <style>
    #button {
      text-align: center;
      font-size: 50px;
    }
  </style>
{% endblock %}
