{% extends 'base.html' %}

  {% block content %}
  <br><br>
  <div style="font-size: 25px">
  <p><b>The robot has more information about the maze than you do.</b></p>
      True

      <p><b>Manual control allows you to drive the robot.</b></p>
      True

      <p><b>Please answer False for this question.</b></p>
      False

      <p><b>Automatic control allows the robot to drive itself to the finish.</b></p>
      True

      <p><b>If you or the robot drive into a hold you will fail the maze.</b></p>
      True

      <p><b>Glass debris can cause the robot to move in a random direction.</b></p>
      True

      <br><br>

  <h3>The first maze is a practice maze:</h3>
  {% if g.user %}
    <div id="button">
    <a class="action" href="{{ url_for('gridworld_app.playgame') }}" >Start the first maze</a>
    </div>
  {% endif %}
  </div>

  <style>
    #button {
      text-align: center;
      font-size: 50px;
    }
  </style>
{% endblock %}