{% extends 'base.html' %}

{% block content %}
  {% if not g.user %}
  <div>
      <div>
          <h3>Description of research</h3>
          You are invited to participate in research to study how various factors affect trust in a human-robot team.  <u>The purpose of this research is to identify how and when trust changes when a human collaborates with a robot teammate. Ultimately, this data will help robots appropriately set trust expectations with a human counterpart.</u>  This study will include native English speakers from 18 to 65 years old who feel comfortable using an online interface to solve a set of mazes.
          <h4>To reiterate, you are eligible for this study if and only if:</h4>
          <ul>
              <li>You <b>have not</b> already completed this study.</li>
              <li>You are a native English speaker.</li>
              <li>You are between 18 and 65 years of age.</li>
              <li>You do not have vision problems that would prevent playing a game on a computer display.</li>
              <li>You have JavaScript enabled in your browser.</li>
          </ul>
      </div>

      <div>
          <h3>What will my participation involve?</h3>
          If you decide to participate in this research, then <u>you will be asked to help guide a virtual robot through a series of mazes of varying difficulty. The virtual robot may communicate information to you in the form of English language sentences.</u>  Afterwards, we will collect some basic demographic data. Please be aware that your responses will be vetted. If responses appear to be spam, the HIT will not be accepted.
      </div>

      <div>
          <h3>How long will this take?</h3>
          We expect this study to take 5-8 minutes.
      </div>

      <div>
          <h3>Contact information</h3>
          If you have additional questions, please contact Daniel Szafir (daniel.szafir@colorado.edu or 303.735.7892) or Nisar Ahmed (nisar.ahmed@colorado.edu or 303.492.0286) . If you are not satisfied with the response of the research team or have more questions, you should contact the University of Colorado Boulder IRB Office at 303.735.3702. By clicking "I Consent" you confirm that you meet the criteria for this study and are ready to proceed. This will begin the study.
          <br><br>
          If you are participating from Mechanical Turk, the submission information will appear at the end of this study.
          <br><br>
      </div>
      <div class="buttons">
            <div class="action_btn">
                <a class="action"  href="{{ url_for('auth.register') }}" style="font-size: 40px">I consent</a>
                <br><br>
                <a class="action" href="{{ url_for('gridworld_app.already_completed') }}" style="font-size: 40px">I do not consent</a>
            </div>
      </div>
  </div>
  {% endif %}

{% endblock %}