{% extends 'base.html' %}



{% block content %}
  {% if g.user %}
   <form action="/open_question" method="POST" id="myform">
    <p><b>What age are you?</b></p>
    <labl for="a1">18-24</labl>
    <input type="radio" name="age" id="a1" value="18-24" required>
    <labl for="a2">25-34</labl>
    <input type="radio" name="age" id="a2" value="25-34" required>
    <labl for="a3">35-44</labl>
    <input type="radio" name="age" id="a3" value="35-44" required>
    <labl for="a4">45-54</labl>
    <input type="radio" name="age" id="a4" value="45-55" required>
    <labl for="a4">55+</labl>
    <input type="radio" name="age" id="a5" value="55+" required>

    <p><b>What gender are you?</b></p>
    <labl for="g1">Female</labl>
    <input type="radio" name="gender" id="g1" value="female" required>
    <labl for="g2">Male</labl>
    <input type="radio" name="gender" id="g2" value="male" required>
    <labl for="g3">Other</labl>
    <input type="radio" name="gender" id="g3" value="other" required>
    <labl for="g4">Prefer not to answer</labl>
    <input type="radio" name="gender" id="g4" value="no answer" required>

    <p><b>What is your highest education level?</b></p>
    <labl for="e1">Did Not Finish High School</labl>
    <input type="radio" name="education" id="e1" value="some hs" required>
    <labl for="e2">High School Diploma</labl>
    <input type="radio" name="education" id="e2" value="hs diploma" required>
    <labl for="e3">Some College</labl>
    <input type="radio" name="education" id="e3" value="some college" required>
    <labl for="e4">Associates</labl>
    <input type="radio" name="education" id="e4" value="associates" required>
    <labl for="e5">Bachelors</labl>
    <input type="radio" name="education" id="e5" value="bachelors" required>
    <labl for="e6">Graduate Degree (Masters, Phd, MD, etc.)</labl>
    <input type="radio" name="education" id="e6" value="graduate" required>

    <p><b>Do you play video games?</b></p>
    <labl for="games1">No</labl>
    <input type="radio" name="games" id="games1" value="no" required>
    <labl for="games2">Yes</labl>
    <input type="radio" name="games" id="games2" value="yes" required>


     <p><b>Use this area to let us know your thoughts on the study</b></p>
     <label for="open"></label>
       <textarea id="open" name="open_text" rows="5" cols="50"> </textarea>

     <br><br>
     <input type="submit" value="Submit">
   </form>

<style>
#myform {

        padding-top: 5%;
        font-size: 20;
}
</style>
  {% endif %}
{% endblock %}