{% extends 'base.html' %}

  {% block content %}
  <br><br>
  <div style="font-size: 20px">
      <h3>The robot has more information about the maze than you do.</h3>
      <u>True</u>

      <h3>This robot will report its self-confidence to you.</h3>
      <u>True</u>

      <h3>Very bad self-confidence means the robot is quite sure it will fail driving to the finish.</h3>
      <u>True</u>

      <h3>Select false for this question.</h3>
      <u>False</u>

      <h3>Very good self-confidence means the robot is quite sure it will succeed driving to the finish.</h3>
      <u>True</u>

      <h3>Fair self-confidence means the robot thinks there is an equal chance for failure or success.</h3>
      <u>True</u>

      <br><br>

      {% if g.user %}
      <div id="button">
        <a class="action" href="{{ url_for('gridworld_app.playgame') }}" >Start the next round</a>
      </div>
      {% endif %}
  </div>

  <style>
    #button {
      text-align: center;
      font-size: 50px;
    }
  </style>
{% endblock %}