{% extends 'base.html' %}

  {% block content %}
  <div>
      You have been teamed with a new robot. This robot is capable of sending you a report telling you it's <b>self-confidence</b>
      in navigating (in Automatic Mode) to the finish. This statement is the robots estimate of how well it thinks it will
      perform. You may use it to inform your decision on Manual Control vs. Automatic Control. Note the addition of the
      <b>self-confidence</b> report above the map.
  </div>
    <div style="text-align:center">
      <img src="static/images/control_panel_1.png" alt="" />
    </div>
  {% if g.user %}
    <div id="button">
      <a class="action" href="{{ url_for('gridworld_app.playgame') }}" >Start the next round</a>
    </div>
  {% endif %}

  <style>
    #button {
      text-align: center;
      font-size: 50px;
    }
  </style>
{% endblock %}
