{% extends 'base.html' %}

  {% block content %}
  <br><br>
  <div style="font-size: 20px">
      <h3>Summary:</h3>
    <ul>
      <li>You have been paired with a <u>new robot</u></li>
      <li>The robot's <u>color is {{ post.color }}</u></li>
      <li>You will work with this robot for the next <u>4 mazes</u></li>
      <li>In addition to Manual control, Automatic control, and Abort, it has the following capability:</li>
      <ul>
        <li><b>Self-Confidence Report:</b> What the robot thinks the outcome will be if it drives in Automatic Mode to
          some location</li>
        <li>The robot will provide self-confidence report for two locations: Blue square and green square</li>
        <li>Self-Confidence statements can be: <u>very bad</u>, <u>bad</u>, <u>fair</u>, <u>good</u>, or <u>very good</u>:</li>
        <ul>
          <li><b>very bad</b>: The robot is <u>quite certain it will fail</u> while driving to the location.</li>
          <li><b>bad</b>: The robot thinks there is a <u>high (but not certain) chance it will fail</u> while driving to the location</li>
          <li><b>fair</b>: The robot thinks there is an <u>equal chance for failure or success</u> while driving to the location</li>
          <li><b>good</b>: The robot thinks there is a <u>high (but not certain) chance it will succeed</u> in driving to the location</li>
          <li><b>very good</b>: The robot is <u>quite certain it will succeed</u> while driving to the location</li>
        </ul>
        <li>Remember, <b>this is the robot's estimate of how it thinks it will perform in the maze in Automatic Mode</b>, not how it thinks you will
    perform in Manual Mode</li>
      </ul>
    </ul>
    The report will be displayed just above the maze:
    <br><br>

    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/control_panel_3.png" alt="" />
    </div>

    <form action="/quiz2" method="post" id="myform">
      <h3>Please answer True or False to these questions about the instructions you just read:</h3>
      The robot can see the explored and unexplored parts of the maze.
      <div class="radioGroup">
        <label for="info_t">True<br />
          <input type="radio" name="info" id="info_t" value="1" required>
        </label>
        <label for="info_f">False<br />
          <input type="radio" name="info" id="info_f" value="0" required>
        </label>
      </div>

      We request that you choose false for this question.
      <div class="radioGroup">
        <label for="false_t">True<br />
          <input type="radio" name="false" id="false_t" value="1" required>
        </label>
        <label for="false_f">False<br />
          <input type="radio" name="false" id="false_f" value="0" required>
        </label>
      </div>

      This robot will report its self-confidence to you.
      <div class="radioGroup">
        <label for="conf_t">True<br />
          <input type="radio" name="conf" id="conf_t" value="1" required>
        </label>
        <label for="conf_f">False<br />
          <input type="radio" name="conf" id="conf_f" value="0" required>
        </label>
      </div>

      Very bad self-confidence means the robot is quite sure it will fail driving to the location (blue or green square).
      <div class="radioGroup">
        <label for="badConf_t">True<br />
          <input type="radio" name="badConf" id="badConf_t" value="1" required>
        </label>
        <label for="badConf_f">False<br />
          <input type="radio" name="badConf" id="badConf_f" value="0" required>
        </label>
      </div>

      Very good self-confidence means the robot is quite sure it will succeed driving to the location (blue or green square).
      <div class="radioGroup">
        <label for="goodConf_t">True<br />
          <input type="radio" name="goodConf" id="goodConf_t" value="1" required>
        </label>
        <label for="goodConf_f">False<br />
          <input type="radio" name="goodConf" id="goodConf_f" value="0" required>
        </label>
      </div>

      Fair self-confidence means the robot thinks there is an equal chance for failure or success.
      <div class="radioGroup">
        <label for="fairConf_t">True<br />
          <input type="radio" name="fairConf" id="fairConf_t" value="1" required>
        </label>
        <label for="fairConf_f">False<br />
          <input type="radio" name="fairConf" id="fairConf_f" value="0" required>
        </label>
      </div>

      <br><br>
      <input type="submit" value="Submit">

    </form>
  </div>

  <style>
    #myform {
        text-align: left;
        padding-top: 5%;
        font-size: 20px;
    }
    .radioGroup label {
      display: inline-block;
      margin: 0 0.2em;
      text-align: center;
      padding-bottom: 2%;
      font-size: 15px;
    }
  </style>
{% endblock %}
