{% extends 'base.html' %}

  {% block content %}
  <br><br>
  <div style="font-size: 20px">
    <h3>You have been paired with a new robot. In addition to Manual control, Automatic control, and Abort, it has the following capability:</h3>

    <h4><u>No additional capability.</u></h4>

    <br><br>
    <div style="text-align:center; border:5px solid #555">
      <img src="static/images/control_panel_1.png" alt="" />
    </div>



      <form action="/quiz1" method="post" id="myform">
        <h3>Please answer True or False to these questions about the instructions you just read:</h3>
          The robot has more information about the maze than you do.
          <div class="radioGroup">
            <label for="info_t">True<br />
              <input type="radio" name="info" id="info_t" value="1" required>
            </label>
            <label for="info_f">False<br />
              <input type="radio" name="info" id="info_f" value="0" required>
            </label>
          </div>

          This robot is capable of Manual Control, Automatic Control, and Abort.
          <div class="radioGroup">
            <label for="control_t">True<br />
              <input type="radio" name="control" id="control_t" value="1" required>
            </label>
            <label for="control_f">False<br />
              <input type="radio" name="control" id="control_f" value="0" required>
            </label>
          </div>

          Choose false for this question.
          <div class="radioGroup">
            <label for="false_t">True<br />
              <input type="radio" name="false" id="false_t" value="1" required>
            </label>
            <label for="false_f">False<br />
              <input type="radio" name="false" id="false_f" value="0" required>
            </label>
          </div>

          <br><br>
          <input type="submit" value="Submit">
      </form>

  </div>



  <style>
    #myform {
        text-align: left;
        padding-top: 5%;
        font-size: 20px;
    }
    .radioGroup label {
      display: inline-block;
      margin: 0 0.2em;
      text-align: center;
      padding-bottom: 2%;
      font-size: 15px;
    }
  </style>
{% endblock %}